/* Sticky footer styles
-------------------------------------------------- */
body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
.icons-sprite,.icons-icon-edit,.icons-icon-remove,.icons-logo,footer.navbar-fixed-bottom .copyright-message,.table-striped a.edit,.icon-custom-remove
{
    background:url(/static/img/icons.png) no-repeat
}
.icon-time{background-position:-48px  -24px}

.copyright-message{display:block;text-align:center;width:100%}

.icons-sprite,.icons-icon-edit,.icons-icon-remove,.icons-logo,footer.navbar-fixed-bottom .copyright-message,.table-striped a.edit,.icon-custom-remove
{
    background:url(/static/img/icons.png) no-repeat
}

footer.navbar-fixed-bottom .copyright-message
{font-size:11px;line-height:30px;color:#cacaca;padding:3px 0px 4px 0px;text-align:left;background-position:0 0;background-position:right top
}


#u127 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1200px;
    height: 55px;
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}
.text_area {
    color: #000000;
    text-align: left;
}