
{% extends 'base.html' %}
{% block content %}
<div id="page-content" class="container container-fluid main-container" role="main">
    <div class="well">
        <h3>To finish the Annotation review need to three steps:</h3>
        <p>1.Identify if the given annotation is correct or not</p>
        <p>2.For the incorrect item please provide the correct annotation and comments</p>
        <p>3.After all done, it need click submit button to finish task</p>
    </div>
    <div class="page-header">
        <p>
            <button class="btn btn-success" type="button">Start Review</button>
            <button class="btn btn-success" type="button">Continue Review</button>
        </p>
    </div>
    <h3>
        <span class="label label-primary">Sentence (zh-CN)</span>
    </h3>
    <div class="progress">
        <label>21/221</label>
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
             <span class="sr-only">40% Complete (success)</span>
        </div>
    </div>
    <div>
        <button>Previous</button>
        <button>Current</button>
    </div>

    <div class="row">
        <div class="col-sm-1">
            <p><span>Text</span></p>
        </div>
        <div class="col-sm-6">
            <textarea class="form-control" rows="2"></textarea>
        </div>
        <div class="col-sm-3">
            <div class="radio">
                <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                  Correct
                </label>
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    Incorrect
                </label>
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option2">
                    ambiguous
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-success" type="button">Annotate</button>
            <button class="btn btn-success" type="button">Skip</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p>
                <span style="font-family:'Arial Bold', 'Arial';font-weight:700;font-size:18px;">Text</span>
                <span>拨打三师兄</span>
            </p>
        </div>

        <div class="col-sm-4">
            <p>
                <span style="font-family:'Arial Bold', 'Arial';font-weight:700;font-size:18px;">Tagged Pharse</span>
            </p>
        </div>

    </div>






</div>

{% endblock %}