{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Annotation Review Tool Login</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


    {% include 'link_css.html' %}
    <link rel="stylesheet" href="{% static '/custom-css/signin.css' %} ">

</head>
<body>
    <div class="panel panel-success panel-signin">
        <div class="panel-heading">
            <h3 class="panel-title">Please Sign In</h3>
        </div>
        <form class="form-signin" role="form" about="{% url 'login' %}" method="POST">

            {% csrf_token %}
            {% for item in form %}

                <div class="form-signin">
                    <div class="control-label col-md-3">
                        {{item.label}}
                    </div>
                    <div class="col-md-8">
                        {{item}}
                    </div>
                    <div class="col-md-offset-1 col-md-10">
                        {{item.errors}}{{error_msg}}
                    </div>
                </div>
            {% endfor %}
            <div class="box-footer">
                <input type="hidden" name="next" value="{{ next }}"/>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>

            </div>
            <label>forget you password</label>
        </form>
    </div>
</body>
</html>