{% extends 'base_without_timer.html' %}
{% block content %}
<div id="page-content" class="container container-fluid" role="main">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div class="panel-signin login-form">
            <h2>Sign in</h2>
            <form class="login-content" role="form" action="{% url 'accounts:login' %}" method="POST">
                {% csrf_token %}
                {% for item in form %}
                <div class="form-inputs panel-signin row">
                    <div class="control-label col-md-2">
                        {{item.label}}
                    </div>
                    <div class="col-md-5">
                        {{item}}
                    </div>
                </div>
                <div class="form-inputs panel-signin row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-5">
                        {{item.errors}}{{error_msg}}
                    </div>
                </div>
                {% endfor %}
                
                <div class="form-actions">
                    <input type="hidden" name="next" value="{{ next }}"/>
                    <input class="btn btn btn-success" name="commit" type="submit" value="Log in">
                    <div class="shared-links">
                        <a href="/users/password/new">Forgot your password?</a><br>
                        <a href="/users/confirmation/new">Didn't receive confirmation instructions?</a><br>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>

{% endblock %}