{% extends 'header_navi_bar_base.html' %}
{% block content %}

<li id="working_session_container">
    <a href="#">
        <span class="glyphicon glyphicon-time"><i class="icon-time icon-white"></i></span>
        <span class="timer-value" data-current="1499394188000"
              data-expiration-modal-body=" <p> Your session is expired. You need to re-login. </p>"
              data-expriation-modal-footer=" <a href=&quot;/login&quot; class=&quot;btn btn-success&quot;>Go to login page</a> or
                              <a href=&quot;#&quot; data-dismiss=&quot;modal&quot;>Dismiss</a>"
              data-expiration-modal-header="Heads up!" data-start="1499394167000"
              data-warden-session-expires-in="600000">00:05:05</span>
        <span class="counter-label"><i class="glyphicon glyphicon-ok-circle icon-white"></i></span>
        <span class="counter-value">0</span>
        <span class="counter-label"><i class="glyphicon glyphicon-remove-circle icon-white"></i></span>
        <span class="counter-value">0</span>
    </a>
</li>

{% endblock %}